
        body {
            margin: 0px;
        }

        nav {

            background-color: red;
            /* overflow: hidden; */
            display: flex;
            justify-content: space-between;


        }

        main {
            /* float: left; */
            /* width: 80%; */
            /* padding: 10px; */
            /* background-color: beige; */
            display: flex;
            flex-direction: row;
            justify-content: center;
            /* gap: 10px; */
        }

        * {
            box-sizing: border-box;
        }


        #center {
            margin: 0 auto;
            width: 90%;
        }

        .clearfix {
            overflow: hidden;
        }

        .clearfix::after {
            clear: both;

        }

        nav a {
            display: inline-block;
            /* float: left; */
            padding: 10px;

            color: #f2f2f2;
            text-decoration: none;

            padding: 14px 16px;
            text-align: center;

        }

        nav a:hover {
            background-color: f2f2f2;
            color: #333;
        }


        .pokemon_container {
            text-align: center;
            background-color: #eee;
            padding: 20px;
            margin: 10px;
            border-radius: 20px;
        }

        .pokemon_images img {
            border-radius: 5px;
            width: 90%;
        }

        #dummy_div{
            display: flex;
        }

        @media screen and (max-width: 550px) {
            main, nav, #dummy_div{
                display: flex;
                flex-direction: column;
            }
        }

        h1 {
            margin: 0px;
        }

        .pokemon_images {
            display: flex;
            flex-direction: column;
        }

        footer,
        header {
            text-align: center;
        }

        /* main {
            margin-bottom: 30px;
        } */

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        
        
    